* {
    background-color: #FBEAD9;
    font-family: 'Georgia', serif;
    font-style: normal;
    color: #615447;
}

.album {
    width: 200px;
    margin-left: 2%;
    margin-right: 2%;
}

.album img {
    width: 200px;
    height: 200px;
}


.album p {
    font-size: 16px;
    text-align: center;
}

.header {
    padding: 50px;
    text-align: center;
}


.navbar {
    overflow: hidden;
}

.navbar a {
    flex: 100%;
    display: block;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
    vertical-align: middle;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: #ddd;
}

* {
    box-sizing: border-box;
}


.row {
    display: flex;
    flex-wrap: wrap;
}


.side {
    flex: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.side img {
    width: 100px;
    height: 100px;
}

.main {
    flex: 80%;
    background-color: #FBEAD9;

}

.main h1 {
    margin-top: 0;
    font-size: 128px;
    font-weight: 400;
    line-height: 145px;
    padding-left: 10%;
    padding-right: 10%;
}


@media screen and (max-width: 1075px) {
    .row {
        flex-direction: column-reverse;
    }
}

