/*COLOR PALETTE:*/
/*brown: #615447;*/
/*salmon: #F07C68;*/
/*orange: #F0967C;*/
/*pale orange pink: #F0C6B7;*/
/*background tan: #FBEAD9;*/
/*pink: #FDACAC;*/
/*pale pink: #FDCDC5;*/


* {
    background-color: #FBEAD9;
    font-family: 'Georgia', serif;
    font-style: normal;
    color: #615447;
}

.header {
    padding: 50px;
    text-align: center;
}

.navbar {
    overflow: hidden;
}

.navbar a {
    flex: 100%;
    display: block;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
    vertical-align: middle;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: #FDCDC5;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.left {
    width: 80%;
    justify-content: left;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

.side {
    flex: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.side img {
    width: 100px;
    height: 100px;
}

.main {
    flex: 80%;
}

.main h1 {
    margin-top: 0;
    font-size: 128px;
    font-weight: 400;
    line-height: 145px;
    padding-left: 10%;
    padding-right: 10%;
}

.album {
    width: 200px;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 2%;
}

.album img {
    width: 200px;
    height: 200px;
}


.album p {
    font-size: 16px;
    text-align: center;
}

.project {
    width: 80%;
    margin: 2%;
    background-color: #FDCDC5;
    border-color: #615447;
    border-style: solid;
    border-width: medium;

}

.project * {
    background-color: #FDCDC5;
    margin-top: 1%;
    margin-bottom: 1%;
}

.project p {
    margin-left: 0;
    margin-right: 0;
}

.project img {
    float:left;
    object-fit: cover;
    height: 200px;
    max-width: 45%;
    margin-left: 1%;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.project .text-body {
    width: 50%;
    float: right;
}

@media screen and (max-width: 1075px) {
    .row {
        flex-direction: column;
    }
}

